$section-color :#F0F1F1;
$number-color :#5E5322;
$hover-color :#FAD648;
$hover2-color:#3C3C3C;
$after-border-color :#737373;
$text2-color:#737373;
$text-color: #3C3C3C;
$mobile-color: #2894bf;
$mobile-second-color: #d6d6d6;
$mobile-third-color: #3699be;