@import "src/scss/settings/fonts";
@import "src/scss/settings/colors";

.mobileFooterBox {
  width: 100%;
  height: 300px;
  background-color: $mobile-color;
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  @media (min-width: 600px) {
    padding: 30px 50px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  @media (min-width: 800px) {
    padding: 30px 85px;
  }

  &_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    &__contact {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__instructions {
      margin-top: 15px;
      color: #333333;
      @media (min-width: 600px) {
        margin-top: 20px;
      }
    }
  }
}

.mobileFooter_contactText {
  font-weight: 700;
  margin-right: 10px;
  font-size: 17px;
  line-height: 18px;
  @media (min-width: 600px) {
    font-size: 18px;
    line-height: 19px;
  }

  &:first-letter {
    text-transform: uppercase;
  }
}

.mobileFooter_instructionsText {
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 17px;
  @media (min-width: 600px) {
    font-size: 17px;
    line-height: 18px;
    margin-bottom: 7px;
  }
}
