@import "src/scss/settings/fonts";
@import "src/scss/settings/colors";


.registerAuthBox_title__text {
  width: 208px;
}

.registerAuthBox_login {
  width: 498.79px;
  height: 418px;

  &__loginBox {
    width: 384px;
    height: 328px;
  }

  &__loginButtons {
    margin-top: 40px;
    width: 498.79px;
  }
}

.passwordInput {
  margin-bottom: 31px;
}

.loginSubmit {
  width: 117px;
  height: 50px;
  background-color: white;
  border: none;
  font-family: $font-base;
  font-weight: lighter;
  font-size: 18px;
  line-height: 32px;

  &:hover {
    border: 1px solid $after-border-color;
  }
}

.registerError {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.registerError_field {
  border-bottom: 1px solid red;
}

.invalidEmail {
  font-size: 14px;
  color: red;
}